button {
    margin-top: 20px;
    font-size: 15px;
    border-radius: 6px;
    font-weight: bold;
    line-height: 25px;
  }
  
  #new-entry {
    background-color:green;
    color: white; 
    
  }
  
  #btnSaveNDownload {
    background-color:red;
    color: black;
  }